In [151]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [152]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [153]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [171]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
# found an efficient way to grab all values from june (shown below) via the link here: 
    # https://stackoverflow.com/questions/11616260/how-to-get-all-objects-with-a-date-that-fall-in-a-specific-month-sqlalchemy/31641488
june = extract('month', Measurement.date) == 6
# List of tuples created from the below query
june_results = []
june_results = session.query(Measurement.date, Measurement.tobs).\
filter(june).all()

In [172]:
#  3. Convert the June temperatures to a list. Unraveled the list of tuples into one-dimensional array and into list
june_temps = list(np.ravel(june_results))

In [173]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_results, columns=['date', 'June Temps'])
june_df.set_index(['date'], inplace=True)
june_df = june_df.sort_index()

In [174]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [175]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december = extract('month', Measurement.date) == 12
december_results = []
december_results = session.query(Measurement.date, Measurement.tobs).\
filter(december).all()

In [176]:
# 7. Convert the December temperatures to a list.
december_temps = list(np.ravel(june_results))

In [177]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_df = pd.DataFrame(december_results, columns=['date', 'December Temps'])
december_df.set_index(['date'], inplace=True)
december_df = december_df.sort_index()

In [178]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

## Bonus for Deliverable 3: creating percipitation queries for June and Decemeber

In [179]:
# June precipitation query, DataFrame, and Statistical Analysis (copying and pasting much of this from the deliverables above)
june_prcp_results = []
june_prcp_results = session.query(Measurement.date, Measurement.prcp).\
filter(june).all()
june_prcp_df = pd.DataFrame(june_prcp_results, columns=['date', 'June Precipitation'])
june_prcp_df.set_index(['date'], inplace=True)
june_prcp_df = june_prcp_df.sort_index()
june_prcp_df.describe()

       June Precipitation
count         1574.000000
mean             0.136360
std              0.335731
min              0.000000
25%              0.000000
50%              0.020000
75%              0.120000
max              4.430000

In [181]:
# December precipitation query, DataFrame, and Statistical Analysis 
december_prcp_results = []
december_prcp_results = session.query(Measurement.date, Measurement.prcp).\
filter(december).all()
december_prcp_df = pd.DataFrame(december_prcp_results, columns=['date', 'December Precipitation'])
december_prcp_df.set_index(['date'], inplace=True)
december_prcp_df = december_prcp_df.sort_index()
december_prcp_df.describe()

       December Precipitation
count             1405.000000
mean                 0.216819
std                  0.541399
min                  0.000000
25%                  0.000000
50%                  0.030000
75%                  0.150000
max                  6.420000